body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: 400;
}

#container {
    background: #fff;
    color: #555;
    padding: 30px;
    margin: 40px auto;
    max-width: 880px;
    display: block;
}

@media (max-width: 979px) {
    #container {
        max-width: 85%;
    }
}

@media (max-width: 480px) {
    #container {
        max-width: 75%;
    }
}